services:
  pgvector:
    image: 'pgvector/pgvector:pg16'
    container_name: education-postgres
    environment:
      - 'POSTGRES_DB=education_db'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    labels:
      - "org.springframework.boot.service-connection=postgres"
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
